// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');


#home{
	background-color:#6d6e71;
}

#homeMenu {
  position: absolute;
  top:35%;
  left: 30%;
}

.homeLogo {
  width: 200px; 
  padding-top: 40px;
}

.homeMenu {
  display: inline-block;
}

.icons {
  width: 30px;
  float: right;
  margin-right: 20px;
}

.homeIcons {
  color:#fff;
  float: right;
}

.homeIcons .x-button-label {
  text-align: left;
}

.homeIcons .x-button {
  border: 2px solid #fff;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
}

.triangle {
  height: 60px !important;
}

.homeMenuItems {
  
}

hr { 
  display: block; 
  height: 1px;
    border: 0; 
    border-top: 1px solid #828383;
    margin: .5em 0; 
    padding: 0; 
  }

html {

}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
}

.x-toolbar-dark {
  background-color: #fff;
  background-image: none;
  background-image: none;
  background-image: none;
  border-color: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.4) 2px 2px 1px 2px; 
  overflow: visible;
}

.x-toolbar-dark .x-button {
  background-color: transparent;
  background-image: none;
  background-image: none;
  background-image: none;
  border: none;
  border-top-color: transparent;
  color: transparent;
  text-shadow: none;
  -webkit-box-shadow: none;
}

.x-toolbar-dark .x-button.x-button-pressing {
  background-color: transparent;
  background-image: none;
  background-image: none;
  background-image: none;
  border: none;
  border-top-color: transparent;
  color: transparent;
  text-shadow: none;
  -webkit-box-shadow: none;
}

.x-toolbar-title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  line-height: 2.1em;
  font-size: 1.2em;
  text-align: center;
  font-weight: lighter;
  font-variant:small-caps;
  color: #6d6e71;
}

.x-toolbar-dark .x-title {
  color: #6d6e71;
  text-shadow: none;
  font-size: 1.2em;
  text-align: center;
  font-weight: lighter;
  font-variant:small-caps;

}

.x-toolbar-dark .x-toolbar-title {
  color: #6d6e71;
}

.headerLogo {
  width: 50px !important;
}

.btm-nav {
  background-color: #599195;
  text-align: center;
}

.circle {
  margin-top: -4px;
}

.menuIcon {
  width: 12% !important;
  margin-bottom: 40px;
  margin-top: -40px;
}

.menu {
  height: 65%;
}

.backBtn {
  //left: -25px !important;
}

.slideIcon {
  margin-right: 10px;
}

/*-----------list - slide up menu style ----------*/


.x-list .x-list-item {
  color: #fff;
/*  margin-left: 25%;*/
}

.x-list-normal .x-list-item .x-dock-horizontal {
  border: none;
}

.x-list-normal .x-list-item.x-list-footer-wrap .x-dock-horizontal {
  border:none;
}
.x-toolbar-dark.x-docked-top {
  border:none;
  height: 8% !important;
}


.sliding_menu {
  top: 20px;
}

.x-button-label {
  font-weight: normal;
}


/*-----------message box ----------*/
.x-msgbox .x-button {
    background-image: none !important;
    background-color :  #599195 !important; 
    color: white;
}

.x-msgbox .x-button-normal {
    background-image: none !important;
    background-color : red !important; 
    color: white;
}


/*--------------main panel -----------*/

#mainPanel {
  background-color: #6d6e71;
}

.x-layout-card-item {
  background: #6d6e71; 
}

/*--------------list styling -----------*/
.x-list {
	background-color: #6d6e71;
}

.x-list-normal .x-list-header {
	background-image: none;
	background-color: #599397;
	background-image: none;
	color: #3A3F3F;
	text-shadow: none;
	border-top: 1px solid #fff;
	border-bottom: none;
	font-weight: bold;
	font-size: 0.8em;
	padding: 0.2em 1.02em;
}

.x-list .x-list-disclosure {
	position: relative;
	overflow: visible;
	border: 0;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	-ms-border-radius: 32px;
	-o-border-radius: 32px;
	border-radius: 32px;
	background-image: none;
	background-color: #599397;
	width: 32px;
	height: 32px;
	margin: 7px 7px 0 0;
}

.x-indexbar {
padding: .3em 0;
color: #D8DFE4;
}

.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
	background-image: #6d6e71;
	background-color: #6d6e71;
	background-image: #6d6e71;
	color: #fff;
}

.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
background-color: #6d6e71;
}
.x-list .x-list-item.x-item-selected .x-dock-horizontal, .x-list .x-list-item.x-item-selected.x-list-item-tpl {
	background-color: #6d6e71;
	background-image: #6d6e71;
	background-image: -webkit-linear-gradient(top, #6d6e71,#6d6e71 3%,#6d6e71);
	background-image: -moz-linear-gradient(top, #6d6e71,#6d6e71 3%,#6d6e71);
	background-image: -o-linear-gradient(top, #6d6e71,#6d6e71 3%,#6d6e71);
	color: #fff;
}

.x-list-normal .x-list-item.x-item-selected.x-list-item-tpl, .x-list-normal .x-list-item.x-item-selected .x-dock-horizontal {
	border-top-color: #fff;
}

.x-list .x-item-selected .x-list-disclosure:before {
color: #599397;
}

/*--------------profiles -----------*/

.studentInfo {
  border: white solid 2px;
  padding: 10px 10px 0 10px;
  color: #fff;
  padding-bottom: 60%;
}

.studentInfo h2 {
  color: #FFF;
  font-variant: small-caps;
  font-size: 1.6em;
}

.profileImage {
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 5px;
  margin-bottom: 25px;
  border-radius: 100px;
  border: solid 2px #fff;
}

.rightContent {
  margin-bottom: 40px;
}

.contact {
  background-color: #fff;
  color: #599195;
  text-align: center;
  padding: 8px;
  font-size: 1.4em;
}

.contactInfo {
  text-align: center;
}

.contactIcons {
  height: 50px;
  padding: 0 15px 0 15px;
  margin-top: 10px;
}

.emailAdd {
  text-align: center;
}

.favAdd {
  text-align: right;
}

.btmNav {
  background-color: #599195;
  text-align: center;
}

.emailStudent{
  background-image: url(../images/icons/mail.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50%;
  border: none;
}

.facebookContact{
  background-image: url(../images/icons/facebook.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50%;
  border: none;
}

.twitBtn{
  background-image: url(../images/icons/twitter.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50%;
  border: none;
}

.addFavItem{
  background-image: url(../images/icons/addFav.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 50%;
    border: none;
}

.removeFavItem{
  background-image: url(../images/icons/removeFav.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: 50%;
    border: none;
}

.shareStuff{
  background-image: url(../images/icons/share.png);
  background-repeat: no-repeat;
  background-size: 50%;
    border: none;
}




/*--------------information page -----------*/
.infoContainer{
  padding: 2.5px;
  color: white;
}

.infoText {
  border: 2px solid #fff;
  padding: 10px;
}


/*-------------social media btns -----------*/

.facebookBtn {
  background: url(../images/icons/facebook.png);
  border: none;
  height: 100px;
  /* padding: 10px; */
  background-repeat: no-repeat;
  background-size: 20%
}


/*--------------iFrame ------------------*/
#frameContainer {

    position: fixed;
    top:55px;
    left: 0px;
    width: 100%;
    bottom: 25px;
    min-width: 200px;

}

iframe#frame2 { width: 100%; height:100% }

#frameContainer2 {

    position: fixed;
    top:55px;
    left: 0px;
    width: 100%;
    bottom: 25px;
    min-width: 200px;

}

iframe#frame3 { width: 100%; height:100% }


/*-------------- bottom toolbar ------------------*/

.x-tabbar-dark {
  border-top-color: none;
  border-bottom-color: none;
  background-image: none;
  background-color: #599397;
  background-image: -webkit-linear-gradient(top, #599397,#599397 3%,#599397);
  background-image: -moz-linear-gradient(top, #599397,#599397 3%,#599397);
  background-image: -o-linear-gradient(top, #599397,#599397 3%,#599397);
  background-image: linear-gradient(top, #599397,#599397 3%,#599397);
}

.x-tabbar-dark.x-docked-bottom .x-tab-active {
  background-image: none;
  background-color: #599397;
  background-image: -webkit-linear-gradient(top, #599397,#599397 10%,#599397 65%,#599397);
  background-image: -moz-linear-gradient(top, #599397,#599397 10%,#599397 65%,#599397);
  background-image: -o-linear-gradient(top, #599397,#599397 10%,#599397 65%,#599397);
  background-image: linear-gradient(top, #599397,#599397 10%,#599397 65%,#599397);
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
}

.x-tabbar-dark .x-tab {
color: #333333;
border-bottom: 1px solid transparent;
}

.x-tabbar-dark.x-docked-bottom .x-tab-active .x-button-icon:before {
color: #ffffff;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-label, .x-tabbar.x-docked-bottom .x-tab .x-badge, .x-tabbar.x-docked-bottom .x-tab .x-hasbadge .x-badge, .x-hasbadge .x-tabbar.x-docked-bottom .x-tab .x-badge {
  margin: 0;
  padding: .1em 0 .2em 0;
  font-size: 12px;
  line-height: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.contactInformation {
  height: 50px;
  position: absolute;
  left: 0;
  top: 50%;
}

.addToFav {
  height: 50px;
  position: absolute;
  bottom: 15%;
  left: 65%;
}

.shareData {
  height: 50px;
  position: absolute;
  bottom: 15%;background-image: none;
  left: 15%;
}

/*-----------------------------share pop up-------------*/
.x-sheet-action {
  padding: 0.7em;
  border-top: 1px solid #599397;
  background-image: none;
  background-color: #599397;
  background-image: #599397;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.x-sheet-action .x-button {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff,#ffffff 3%,#ffffff);
  background-image: -moz-linear-gradient(top, #ffffff,#ffffff 3%,#ffffff);
  background-image: -o-linear-gradient(top, #ffffff,#ffffff 3%,#ffffff);
  background-image: linear-gradient(top, #ffffff,#ffffff 3%,#ffffff);
}

.x-button.x-button-decline {
  background-color: #580B0B;
  background-image: -webkit-linear-gradient(top, #580B0B,#580B0B 3%,#580B0B);
  background-image: -moz-linear-gradient(top, #580B0B,#580B0B 3%,#580B0B);
  background-image: -o-linear-gradient(top, #f91f1f,#e00606 3%,#580B0B);
  background-image: linear-gradient(top, #580B0B,#580B0B 3%,#580B0B);
}


/*-----------------------------button pressing-------------------------*/
